<div class="container">
    <div class="chatbox">
        <div class="heading">In-room messages</div>
        <div class="chat-sec">
            <div class="msg">
                <img src="assets/user.png" alt="">
                <div class="text">
                    <p class="user">Max:</p>
                    <p class="cont">Lorem ipsum dolor sit amet</p>
                </div>
            </div>
        </div>
        <div class="chat-input">
            <input type="text" placeholder="Type your message...">
            <img src="assets/send.png" alt="">
        </div>
    </div>
</div>
