/* styles remote user's selection - highlight text*/
.yRemoteSelection {
  background-color: transparent;
}

/*styles nametag +cursor */
.yRemoteSelectionHead {
  z-index: 2;
  position: absolute;
  height: 100%;
  box-sizing: border-box;
  border-left: solid 2px transparent;
}
.yRemoteSelectionHead > span {
  visibility: visible;
  position: absolute;
  z-index: 2;
  background-color: transparent;
  color: aliceblue;
  /* content: attr(data-nametag); */
  padding: 3px;
  border-radius: 4px;
  left: -1px;
  top: 20px;
}

.yRemoteSelectionHead > span:hover {
  visibility: hidden;
}
