<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <form [formGroup]="signupForm" (submit)="OnSubmit()">
        <h2>Sign-Up</h2>
        <label for="name">Name</label>
        <input type="text" formControlName="name" />
        <label for="email">E-mail</label>
        <input type="email" formControlName="email" />
        <label for="password">Password</label>
        <input type="text" formControlName="password" />
        <label for="password">Confirm Password</label>
        <input type="text" formControlName="confirm_password" />
        <div class="pad">
          <button type="submit">Sign Up</button>
        </div>
        <div #error style="color: rgb(188, 13, 13); text-align: center"></div>
      </form>
    </div>
    <div class="main2"></div>
  </body>
</html>
