.msg {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.msg img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.msg p {
  margin: 0;
  line-height: 12px;
}

.msg .user {
  /* color: purple; */
  font-weight: 700;
  margin-bottom: 4px;
}
