<div
  class="folder"
  (click)="[toggleFolder(), activate(folderDetails), selectFolder()]"
>
  <div class="folder-det" #folderDetails>
    <img class="i1" #arrow src="assets/arrow-right.png" />
    <img class="i2" src="assets/folder-icon.png" />
    <p>{{ foldername }}</p>
  </div>
  <div class="folder-contents" #folderContents (click)="cancelClosing($event)">
    <input
      type="text"
      #input
      [ngClass]="inputVisibility ? 'input-visible' : ''"
      (keyup.enter)="create()"
      (input)="resetBorder()"
    />
    <app-folder
      *ngFor="let folder of folders"
      [foldername]="folder.name"
      [path]="folder.path"
    ></app-folder>

    <app-file
      *ngFor="let file of files"
      [filename]="file.name"
      [path]="file.path"
    ></app-file>
  </div>
</div>

<!-- <app-folder
      *ngIf="foldername == 'Test'"
      [foldername]="'test2'"
      [files]="['hehe.js', 'evil.ts']"
    ></app-folder> -->
