<aside class="app-sidebar" (click)="alertClick($event)" capture>
  <div class="sidebar-content">
    <!-- <app-explorer
      [ngClass]="
        currentSidebarOption == 'explorer'
          ? 'sidebar-visible'
          : 'sidebar-hidden'
      "
    ></app-explorer>
    <app-chatbox
      [ngClass]="
        currentSidebarOption == 'chatbox' ? 'sidebar-visible' : 'sidebar-hidden'
      "
    ></app-chatbox>
    <app-user-list
      [ngClass]="
        currentSidebarOption == 'view-members'
          ? 'sidebar-visible'
          : 'sidebar-hidden'
      "
    ></app-user-list> -->
    <app-room-log></app-room-log>
  </div>
</aside>
