.file:hover {
  background-color: #c0c4c1;
}
.file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}

.file.active {
  background-color: #c0c4c1;
}

.i3 {
  width: 8px;
  height: 10px;
}

p {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 13px;
}

img {
  max-width: 15px;
  max-height: 15px;
  margin-right: 7px;
}

.del-icon {
  height: 15px;
  width: 15px;
  color: black;
}

.del-icon:hover {
  filter: invert(14%) sepia(72%) saturate(6820%) hue-rotate(2deg)
    brightness(111%) contrast(122%);
}
