.file:hover {
  background-color: dimgray;
}
.file {
  padding-left: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.file.active {
  background-color: #c0c4c1;
}

.i3 {
  width: 8px;
  height: 10px;
}

p {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 13px;
}

img {
  max-width: 15px;
  max-height: 15px;
  margin-right: 7px;
}
