<div class="container">
    <p class="head">Reposittory Log</p>
    <div class="flex mar">
        <button class="b1">
            <img src="assets/arrow-right.png" alt="">
            Prev
        </button>
        <button class="b2">
            Next
            <img src="assets/arrow-right.png" alt="">
        </button>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="wrapper">
                <table>
                    <tr>
                        <th>Session-7a75</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="flex">
                                <img src="assets/folder-icon.png" alt="">
                                <p class="file-name">.vscode</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="flex">
                                <img src="assets/folder-icon.png" alt="">
                                <p class="file-name">ng-client</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="flex">
                                <img src="assets/folder-icon.png" alt="">
                                <p class="file-name">server</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="flex">
                                <img src="assets/file-icon.png" alt="">
                                <p class="file-name">.editorconfig</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="flex">
                                <img src="assets/file-icon.png" alt="">
                                <p class="file-name">.gitignode</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-4 scroll">
            <p class="head2">About</p>
            <div class="flex block">
                <img class="img1" src="assets/calendar.png" alt="">
                <p class="text">18/04/2024</p>
            </div>
            <div class="flex">
                <img class="img1" src="assets/clock.png" alt="">
                <p class="text">8.13 PM</p>
            </div>
            <p class="head3">Users-list</p>
            <div class="flex block">
                <img class="img2" src="assets/user.png" alt="">
                <p class="text">Max</p>
            </div>
            <div class="flex block">
                <img class="img2" src="assets/user.png" alt="">
                <p class="text">Eva</p>
            </div>
        </div>
    </div>
</div>
