<div class="cont">
  <p class="head">Room Log</p>
  <div class="room-list">
    <div class="room">
        <p class="room-id">Session-1868</p>
        <div class="flex-btw">
            <div class="room-date">
                <img src="assets/calendar.png" alt="">
                <p class="det">17-04-2024</p>
            </div>
            <div class="room-time">
                <img src="assets/clock.png" alt="">
                <p class="det">11:45</p>
            </div>
        </div>
    </div>
  </div>
</div>
