<header class="app-header">
  <div class="menu">
    <ul>
      <!-- <li><a (click)="saveFile()">Save</a></li> -->
      <li>RCCE</li>
    </ul>
    <ul>
      <li
        #connectButton
        id="connect-btn"
        class="padd"
        style="margin-right: 10px"
      >
        <a (click)="toggle()">
          <button class="b1">Connect</button>
        </a>
      </li>
      <li #leaveButton id="leave-btn" class="padd" style="margin-right: 10px">
        <a (click)="forceToPick('leave')">
          <button class="b1">Leave</button>
        </a>
      </li>
      <li *ngIf="isAdmin" #stopButton class="padd" style="margin-right: 10px">
        <a>
          <img src="assets/pause.png" class="b2" alt="" />
        </a>
      </li>
      <li class="padd" style="margin-right: 10px">
        <a (click)="forceToPick('logout')">
          <img src="assets/log-out.png" class="b2" alt="" />
        </a>
      </li>
    </ul>
  </div>
</header>

<div class="pop-up" id="popup">
  <img src="assets/close.png" alt="" class="cus-img" (click)="toggle()" />
  <div class="buttons" id="buttons">
    <div class="join border-line" id="create" (click)="OnCreateRoom()">
      <img src="assets/settings.png" alt="" />
      <h4>Create Room</h4>
    </div>
    <div class="join">
      <img src="assets/jigsaw.png" id="join" alt="" (click)="OnJoinRoom()" />
      <h4>Join Room</h4>
    </div>
  </div>
  <div class="copy-id" id="copy-id">
    <h5 #roomID></h5>
    <button #copyButton (click)="copyID()">Copy ID</button>
  </div>
  <div class="join-room" id="join-room">
    <input
      #roomIDInput
      type="text"
      (keydown.enter)="joinRoom()"
      placeholder="Enter the Room ID"
    />
    <button (click)="joinRoom()">Join Room</button>
    <div #error id="error">No such room exists</div>
  </div>
</div>

<div class="popup1">
  <img src="assets/close.png" alt="" class="cus-img" />
  <p>Do you want to save the files?</p>
  <div class="flex">
    <button class="b2">Yes</button>
    <button class="b3">No</button>
  </div>
</div>

<div #successorWarning class="popup1">
  <img
    src="assets/close.png"
    alt=""
    class="cus-img"
    (click)="closeSuccessorWarning()"
  />
  <p style="color: red">You must make someone else admin before you leave</p>
  <div class="flex">
    <button id="view-members-btn" (click)="showMembers()">View members</button>
  </div>
</div>

<div #notificationDiv class="pop">
  <img src="assets/user.png" alt="" />
  <p #notification></p>
</div>
