.app-header {
  background-color: #000; /* Set background color */
  color: #fff; /* Set text color */
  padding: 10px 7.5px; /* Add padding for spacing */
  font-size: 13px;
}

.app-header .menu .b1 {
  color: #000;
  font-weight: 600;
  font-size: 12px;
  padding: 3px;
  width: 75px;
  background-color: #fff;
  border-radius: 15px;
  border-style: none;
}

.app-header .menu .b2 {
  width: 25px;
  height: 25px;
}

.menu {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between;
}

.menu ul {
  display: flex;
  list-style-type: none; /* Remove bullet points from list */
  padding: 0; /* Remove default padding */
  margin: 0;
  text-align: center;
}

.menu ul .padd {
  padding: 0;
}

.menu ul li {
  padding: 2px 10px;
}

.menu ul :hover {
  /* background-color: #333;
  border-radius: 5px; */
}

.menu ul li:last-child {
  margin-right: 0; /* Remove margin from last menu item */
}

.menu ul li a {
  color: inherit; /* Inherit text color from parent */
  text-decoration: none; /* Remove underline from links */
  cursor: pointer;
}

.menu ul li a:hover {
  text-decoration: none;
}

a {
  cursor: pointer;
}

.popup1 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  top: 25%;
  left: 32.5%;
  z-index: 999;
  border-radius: 10px;
  width: 35%;
  height: 35%;
  padding: 3%;
  background: linear-gradient(145deg, #f0f0f0, #e6e7ee);
  box-shadow: 20px 20px 63px #b8b8b8, -20px -20px 63px #ffffff;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 20px;
  border-color: #d1d9e6;
  border-style: solid;
  border-width: 1px;
}

.popup1 .b2 {
  width: 80px;
  margin-right: 10px;
  background-color: #075e54;
  color: #fff;
  font-weight: 600;
  border-style: none;
  border-radius: 5px;
}

.popup1 .b3 {
  width: 80px;
  margin-right: 10px;
  background-color: #cd0000;
  color: #fff;
  font-weight: 600;
  border-style: none;
  border-radius: 5px;
}

.pop-up {
  display: flex;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  top: 25%;
  left: 30%;
  z-index: 1;
  border-radius: 10px;
  width: 40%;
  height: 45%;
  padding: 3%;
  background: linear-gradient(145deg, #f0f0f0, #e6e7ee);
  box-shadow: 20px 20px 63px #b8b8b8, -20px -20px 63px #ffffff;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  border-color: #d1d9e6;
  border-style: solid;
  border-width: 1px;
}

#popup.active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.buttons {
  display: flex;
  width: 100%;
}

.cus-img {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 18px;
  right: 18px;
  cursor: pointer;
}

.blur-filter {
  filter: blur(10px);
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  padding: 30px 0;
}

.join img {
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.join h4 {
  margin-top: 20px;
  font-weight: 600;
  cursor: pointer;
}

.border-line {
  border-style: solid;
  border-width: 1px;
  border-color: #333;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

form {
  display: flex;
  position: fixed;
  visibility: visible;
  top: 25%;
  left: 35%;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 35%;
  height: 60%;
  padding: 3%;
  background: linear-gradient(145deg, #f0f0f0, #e6e7ee);
  box-shadow: 20px 20px 63px #b8b8b8, -20px -20px 63px #ffffff;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}

form input {
  margin-bottom: 15px;
  background-color: transparent;
  border-style: solid;
  border-color: #7a7a7a;
  border-radius: 10px;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  padding: 6px;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}

form label {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 500;
}

form button {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #ffff;
  width: 65%;
  font-style: normal;
  font-size: 16px;
  line-height: 35px;
  background-color: #000;
  font-weight: 600;
  border-radius: 10px;
}

.copy-id {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.join-room {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.dis-flex {
  display: flex;
}

.join-room button {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffff;
  width: 35%;
  font-style: normal;
  font-size: 16px;
  line-height: 35px;
  background-color: #000;
  font-weight: 600;
  border-radius: 10px;
}

.join-room input {
  margin-bottom: 15px;
  background-color: transparent;
  border-style: solid;
  border-color: #7a7a7a;
  border-radius: 10px;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  padding: 6px;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  width: 56%;
}

.dis {
  display: none;
}

/* to toggle connect options : connect & leave */
#leave-btn {
  display: none;
}

.pop {
  display: none;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  transition: 0.5s;
  top: 82%;
  left: 73%;
  z-index: 6;
  border-radius: 10px;
  width: 25%;
  height: 100px;
  padding: 10px 30px;
  /* background: linear-gradient(145deg, #f0f0f0, #e6e7ee); */
  background-color: #fff;
  box-shadow: 20px 20px 63px #b8b8b8, -20px -20px 63px #ffffff;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  border-color: #d1d9e6;
  border-style: solid;
  border-width: 1px;
  animation: slideInFromRight 5s ease-in-out;
}

.pop img {
  width: 11%;
  margin-right: 20px;
}

.pop p {
  margin: 0;
}

.admit{
  top: 0%;
  left: 36%;
  max-height: 140px;
  max-width: 400px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2% 3%;
  animation: slideInFromTop 300ms ease-in-out;
}

.admit .cus-pos{
  position: absolute;
  bottom: 25px;
  right: 30px;
}

.admit .b1{
  background-color: #075e54;
  margin-right: 8px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  padding: 5px 10px;
  border-style: none;
  border-radius: 5px;
}

.admit .b2{
  background-color: #cd0000;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  padding: 5px 10px;
  border-style: none;
  border-radius: 5px;
}

.warn .b1{
  background-color: #000;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  padding: 5px 10px;
  border-style: none;
  border-radius: 5px;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(+100%);
  }
  20% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(+150%);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

#error {
  color: red;
  display: none;
}
